<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home</title>
  </head>
  <body>
    <h1>Home</h1>
    <a href="/new">New</a>
    <ul>
      <% if (locals.usernames) { %> <% usernames.forEach(username => { %>
      <li>
        <p><%= username.username %></p>
      </li>
      <% }) %> <% } %>
    </ul>
  </body>
</html>
