<!DOCTYPE html>
<html lang="en">
  <head>
    <title>New</title>
  </head>
  <body>
    <h1>New</h1>
    <form action="/new" method="POST">
      <button type="submit">Submit</button>
    </form>
    <a href="/">Back</a>
  </body>
</html>
