<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home</title>
  </head>
  <body>
    <h1>Search results</h1>
    <form action="/search" method="GET">
      <label for="">Search users:</label>
      <input type="text" name="searchValue" id="searchValue">
      <button type="submit">Search</button>
    </form>
    <a href="/">Back to home</a>
    <p>Results for "<%= query %>":</p>
    <ul>
      <% if (locals.usernames) { %> <% usernames.forEach(username => { %>
      <li>
        <p><%= username.username %></p>
      </li>
      <% }) %> <% } %>
    </ul>
  </body>
</html>
